@media screen and (min-width: 768px) {
  #login-form {
    width: 500px;
  }
  .login-button-section button {
    margin-right: 7rem;
  }
  .register-button-section button {
    margin-right: 7rem;
  }
}

@media screen and (max-width: 768px) {
  #login-form {
    width: 100%;
  }
  .login-button-section button {
    margin-right: 5rem;
  }
  .register-button-section button {
    margin-right: 5.8rem;
  }
}
